#yurr{
    color: blue;

}
img{
    width: 30px;
}
#Yessir{
    color: #002B5B;
    background-color: #FFE9AE;
}
a{
    color: rosybrown;
}
hr{
    height: 0px;
    width: 3%;
    border-style:none;
    border-top-style: dotted;
    border-color: black;
    border-width:5px ;


}
a:hover{
    color:white;

}
h1{
    color:brown;    
}
h3{
    color: brown;
}